<section id="features">
    <div class="container">
        <h1>What Do You Get With Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            <div class="box">
                <img src="images/icons/chat.svg" alt="">
                <h2>Comments on Tasks</h2>
                <p>Cumque ullam tempore, dicta odit et provident nulla explicabo.</p>
            </div>
            <div class="box">
                <img src="images/icons/presentation.svg" alt="">
                <h2>Tasks Analytics</h2>
                <p>Fugit tempora eveniet non quod possimus odit soluta dolores libero.</p>
            </div>
            <div class="box">
                <img src="images/icons/add-group.svg" alt="">
                <h2>Multiple Assignees</h2>
                <p>Quasi cumque impedit tempore dicta voluptatum est similique.</p>
            </div>
            <div class="box">
                <img src="images/icons/bell.svg" alt="">
                <h2>Notifications</h2>
                <p>Necessitatibus consequatur deserunt ea, amet quam veritatis facilis.</p>
            </div>
            <div class="box">
                <img src="images/icons/tests.svg" alt="">
                <h2>Sections & Subtasks</h2>
                <p>Pariatur, corporis, necessitatibus voluptate aut atque rerum.</p>
            </div>
            <div class="box">
                <img src="images/icons/shield.svg" alt="">
                <h2>Data Security</h2>
                <p>Sunt ut excepturi dignissimos quam doloremque vero.</p>
            </div>
        </div>
    </div>
</section>
