<section id="light-dark">
    <div class="container">
        <h1>
            <span class="light-text">Switch Between</span>
            <span class="dark-text">Light & Dark Mode</span>
        </h1>
        <figure class="img-wrapper">
            <img src="~/images/light-dark-macbook.png" alt="Macbook" />
        </figure>
        <div class="slider-line" aria-hidden="true"></div>
        <div class="slider-btn" aria-hidden="true">
            <i class="fa-regular fa-arrows-left-right"></i>
        </div>
    </div>
</section>
