<section id="skills">
    <div class="container">
        <div class="text-content">
            <p>Ready to get started?</p>
            <h1>Take Your <span class="text-purple">Skills</span> to the Next Level</h1>
            <button class="btn-theme" href="#">Work with us</button>
        </div>
        <!-- <div class="image-wrapper"> -->
        <img src="/images/courses/illustration.svg" />
        <!-- </div> -->
    </div>
</section>