#account-details {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 150px;
    margin-bottom: 70px;
    margin-top: 50px;

    aside {
        border-right: 1px solid $gray-300;
        padding-right: 15px;

        .profile-info {
            margin: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .profile-img {
                display: flex;
                position: relative;

                .btn-circle {
                    position: absolute;
                    right: 4px;
                    bottom: 0;
                }

                img {
                    border-radius: 100%;
                    max-width: 7rem;
                    max-height: 7rem;
                }
            }

            h2 {
                @include h5;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 1.8rem;
            text-align: left;

            a {
                text-align: left;
                margin-bottom: 0.5rem;
                justify-content: flex-start;
                font-weight: 600;
                font-size: 16px;

                .fa-regular, .fa-solid {
                    color: $gray-600;
                }
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;

                .fa-regular {
                    color: $white;
                }
            }
        }
    }

    .details {
        width: 100%;

        .basic-info {
            form {
                padding: 1rem;

                h1 {
                    @include h2;
                }

                h2 {
                    @include h5;
                    color: $theme;
                    margin-top: 1rem;
                    margin-bottom: 1.5rem;
                }

                .content {
                    display: grid;
                    gap: 1.5rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;

                        span {
                            color: $gray-600;
                            font-weight: 600;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0 10px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }

        .address-info {
            margin-top: 1.5rem;

            form {
                padding: 1rem;

                h2 {
                    @include h5;
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1.5rem 2rem;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "addressline_1 addressline_1" "addressline_2 addressline_2" "postalcode city" "buttons buttons";

                    #form-addressline-1 {
                        grid-area: addressline_1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline_2;

                        span {
                            color: $gray-600;
                            font-weight: 600;
                        }
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }

    label {
        color: $gray-900;
    }

    input, textarea {
        color: $gray-700;
        border-color: $gray-400;
    }
}
